[Desktop Entry]
Type=Application
Name=Big Red Button
Comment=VPN launcher
Exec=big-red-button-gui
Icon=big-red-button
Terminal=false
Categories=Network;Security;
